@using Core.Models.Movie
@model List<Movie>
@{
    ViewData["Title"] = "Home Page";
}
<main>
    <div class="px-4 pt-5">
        <div>
            <!-- Movies Administration -->
            <h1 class="text-xl font-semibold text-gray-900 sm:text-2xl dark:text-white">All movies</h1>
            <div class="items-center justify-between block">
                <div class="flex items-center mb-4 mx-auto items-center justify-between">
                    <div class="flex items-center space-x-4">
                        <form class="pr-3" action="" method="GET">
                            <label for="movie-search" class="sr-only">Search</label>
                            <div class="relative w-48 mt-1 sm:w-64 xl:w-96">
                                <input type="text" name="search" id="movie-search"
                                    class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                                    placeholder="Search for movie">
                            </div>
                        </form>
                        <div class="flex items-center w-full sm:justify-end">
                            <div class="flex pl-2 space-x-1">
                                <a href="#"
                                    class="inline-flex justify-center p-1 text-gray-500 rounded cursor-pointer hover:text-gray-900 hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                                    <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M17.414 2.586a2 2 0 00-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 000-2.828z">
                                        </path>
                                        <path fill-rule="evenodd"
                                            d="M2 6a2 2 0 012-2h4a1 1 0 010 2H4v10h10v-4a1 1 0 112 0v4a2 2 0 01-2 2H4a2 2 0 01-2-2V6z"
                                            clip-rule="evenodd"></path>
                                    </svg>
                                </a>
                                <a href="#" id="drawer-delete-movie-toggle" data-drawer-target="drawer-delete-movie-toggle"
                                    data-drawer-show="drawer-delete-movie-toggle" aria-controls="drawer-delete-movie-toggle"
                                    class="inline-flex justify-center p-1 text-gray-500 rounded cursor-pointer hover:text-gray-900 hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                                    <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                            d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z"
                                            clip-rule="evenodd"></path>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                    <button id="drawer-create-movie-toggle"
                        class="text-white bg-green-500 hover:bg-primary-800 font-medium rounded-lg text-sm px-5 py-2.5 ml-auto"
                        type="button" data-drawer-target="drawer-create-movie-toggle"
                        data-drawer-show="drawer-create-movie-toggle" aria-controls="drawer-create-movie-toggle"
                        data-drawer-placement="right">
                        Add new movie
                    </button>
                </div>
            </div>
            <table class="">
                <thead class="bg-gray-100">
                    <tr>
                        <th scope="col" class="p-4">
                            <div class="flex items-center">
                                <input id="checkbox-all" type="checkbox"
                                    class="w-4 h-4 border-gray-300 rounded bg-gray-50">
                                <label for="checkbox-all" class="sr-only">checkbox</label>
                            </div>
                        </th>
                        <th scope="col" class="p-4 text-xs font-medium text-left text-gray-500 uppercase">
                            ID
                        </th>
                        <th scope="col" class="p-4 text-xs font-medium text-left text-gray-500 uppercase">
                            Movie Title
                        </th>
                        <th scope="col" class="p-4 text-xs font-medium text-left text-gray-500 uppercase">
                            Genres
                        </th>
                        <th scope="col" class="p-4 text-xs font-medium text-left text-gray-500 uppercase">
                            Image
                        </th>
                        <th scope="col" class="p-4 text-xs font-medium text-left text-gray-500 uppercase">
                            Trailer
                        </th>
                        <th scope="col" class="p-4 text-xs font-medium text-left text-gray-500 uppercase">
                            Age Restrictions
                        </th>
                        <th scope="col" class="p-4 text-xs font-medium text-left text-gray-500 uppercase">
                            Duration
                        </th>
                        <th scope="col" class="p-4 text-xs font-medium text-left text-gray-500 uppercase">
                            Actors
                        </th>
                        <th scope="col" class="p-4 text-xs font-medium text-left text-gray-500 uppercase">
                            Raiting
                        </th>
                        <th scope="col" class="p-4 text-xs font-medium text-left text-gray-500 uppercase">
                            Description
                        </th>
                    </tr>
                </thead>
                <tbody class="bg-white divide-y divide-gray-200">
                    @foreach (var movie in Model)
                    {
                        <tr>
                            <td class="w-4 p-4">
                                <div class="flex items-center">
                                    <input id="checkbox-@movie.Id" type="checkbox"
                                        class="w-4 h-4 border-gray-300 rounded bg-gray-50">
                                    <label for="checkbox-@movie.Id" class="sr-only">checkbox</label>
                                </div>
                            </td>
                            <td class="p-4 text-sm font-normal text-gray-500">
                                @movie.Id</td>
                            <td id="search-this" class="p-4 text-sm font-normal text-gray-500">
                                @movie.Name</td>
                            <td class="p-4 font-normal text-gray-500">
                                @foreach (var genre in movie.Genres)
                                {
                                    <p class="text-sm">@genre.Name, </p>
                                }
                            </td>
                            <td class="p-4 font-medium text-gray-900">
                                <img src='@movie.ImageUrl' />
                            </td>
                            <td class="p-4 font-medium text-gray-900">
                                <iframe src="@movie.TrailerUrl" title="YouTube video player" frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                            </td>
                            <td class="p-4 font-medium text-gray-900">
                                @movie.AgeRestriction+</td>
                            <td class="p-4 font-normal text-gray-500">
                                @movie.Duration хв</td>
                            <td class="p-4 font-normal text-gray-500">
                                @foreach (var actor in movie.Actors)
                                {
                                    <p class="text-sm">@actor.Name @actor.Surname, </p>
                                }
                            </td>
                            <td class="p-4 font-normal text-gray-500">
                                @movie.Rating/10</td>
                            <td class="p-4 font-normal text-gray-500" id="movieDescription">
                                @movie.Rating</td>
                            <td class="p-4 space-x-2 whitespace-nowrap">
                                <button type="button" id="updateProductButton"
                                    data-drawer-target="drawer-update-product-default"
                                    data-drawer-show="drawer-update-product-default"
                                    aria-controls="drawer-update-product-default" data-drawer-placement="right"
                                    class="bg-yellow-400 inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white rounded-lg bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
                                    <svg class="w-4 h-4 mr-2" fill="currentColor" viewBox="0 0 20 20"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M17.414 2.586a2 2 0 00-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 000-2.828z">
                                        </path>
                                        <path fill-rule="evenodd"
                                            d="M2 6a2 2 0 012-2h4a1 1 0 010 2H4v10h10v-4a1 1 0 112 0v4a2 2 0 01-2 2H4a2 2 0 01-2-2V6z"
                                            clip-rule="evenodd"></path>
                                    </svg>
                                    Update
                                </button>
                                <button type="button" id="drawer-delete-movie-toggle" data-drawer-target="drawer-delete-movie-toggle"
                                    data-drawer-show="drawer-delete-movie-toggle" aria-controls="drawer-delete-movie-toggle"
                                    data-drawer-placement="right" data-drawer-placement="right"
                                    class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white
                                    bg-red-700 rounded-lg hover:bg-red-800 focus:ring-4 focus:ring-red-300
                                    dark:focus:ring-red-900">
                                    <svg class="w-4 h-4 mr-2" fill="currentColor" viewBox="0 0 20 20"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                            d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z"
                                            clip-rule="evenodd"></path>
                                    </svg>
                                    Delete item
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>


        <!-- Satistic -->
        <div>
            <div
                class="items-center justify-between p-4 bg-white border border-gray-200 rounded-lg shadow-sm sm:flex dark:border-gray-700 sm:p-6 dark:bg-gray-800">
                <div class="w-full flex flex-col mx-auto">
                    <h3 class="text-base font-normal text-gray-500 dark:text-gray-400">Users</h3>
                    <span class="text-2xl font-bold leading-none text-gray-900 sm:text-3xl dark:text-white">2,340</span>
                    <p class="flex items-center text-base font-normal text-gray-500 dark:text-gray-400">
                        <span class="flex items-center mr-1.5 text-sm text-green-500 dark:text-green-400">
                            <svg class="w-4 h-4" fill="currentColor" viewBox="0 0 20 20"
                                xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                <path clip-rule="evenodd" fill-rule="evenodd"
                                    d="M10 17a.75.75 0 01-.75-.75V5.612L5.29 9.77a.75.75 0 01-1.08-1.04l5.25-5.5a.75.75 0 011.08 0l5.25 5.5a.75.75 0 11-1.08 1.04l-3.96-4.158V16.25A.75.75 0 0110 17z">
                                </path>
                            </svg>
                            3,4%
                        </span>
                        Since last month
                    </p>
                </div>
                <div class="w-full" id="week-signups-chart"></div>
            </div>
        </div>



        <!-- Sessions Administration -->
        <h1 class="text-xl font-semibold text-gray-900 sm:text-2xl dark:text-white">All Sessions</h1>
        <div class="flex flex-row">
            <div
                class="my-4 mx-auto items-center justify-between block sm:flex md:divide-x md:divide-gray-100 dark:divide-gray-700">
                <div class="flex items-center mx-auto  sm:mb-0">
                    <form class="sm:pr-3" action="#" method="GET">
                        <label for="session-search" class="sr-only">Search</label>
                        <div class="relative w-48 mt-1 sm:w-64 xl:w-96">
                            <input type="text" name="email" id="session-search"
                                class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                                placeholder="Search for session">
                        </div>
                    </form>
                </div>
                <button id="createProductButton"
                    class="flex mr-auto text-white bg-green-500 hover:bg-green-700 focus:ring-4 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800"
                    type="button" data-drawer-target="drawer-create-product-default"
                    data-drawer-show="drawer-create-product-default" aria-controls="drawer-create-product-default"
                    data-drawer-placement="right">
                    Add new session
                </button>
            </div>
        </div>
        <div class="flex flex-col">
            <div class="overflow-x-auto">
                <div class="inline-block min-w-full align-middle">
                    <div class="overflow-hidden shadow">
                        <table class="min-w-full divide-y divide-gray-200 table-fixed dark:divide-gray-600">
                            <thead class="bg-gray-100 dark:bg-gray-700">
                                <tr>
                                    <th scope="col" class="p-4">
                                        <div class="flex items-center">
                                            <input id="checkbox-all" aria-describedby="checkbox-1" type="checkbox"
                                                class="w-4 h-4 border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-primary-300 dark:focus:ring-primary-600 dark:ring-offset-gray-800 dark:bg-gray-700 dark:border-gray-600">
                                            <label for="checkbox-all" class="sr-only">checkbox</label>
                                        </div>
                                    </th>
                                    <th scope="col"
                                        class="p-4 text-xs font-medium text-left text-gray-500 uppercase dark:text-gray-400">
                                        ID
                                    </th>
                                    <th scope="col"
                                        class="p-4 text-xs font-medium text-left text-gray-500 uppercase dark:text-gray-400">
                                        Movie
                                    </th>
                                    <th scope="col"
                                        class="p-4 text-xs font-medium text-left text-gray-500 uppercase dark:text-gray-400">
                                        Hall
                                    </th>
                                    <th scope="col"
                                        class="p-4 text-xs font-medium text-left text-gray-500 uppercase dark:text-gray-400">
                                        Date/Time
                                    </th>
                                    <th scope="col"
                                        class="p-4 text-xs font-medium text-left text-gray-500 uppercase dark:text-gray-400">
                                        Price
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="bg-white divide-y divide-gray-200 dark:bg-gray-800 dark:divide-gray-700">




                                <!-- 

                                    -->



                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>



        <!-- Add Movie Drawer -->
        <div id="drawer-create-movie"
            class="hidden fixed top-0 right-0 z-40 w-full h-screen max-w-xs p-4 overflow-y-auto transition-transform translate-x-full bg-white dark:bg-gray-800"
            tabindex="-1" aria-labelledby="drawer-label" aria-hidden="true">
            <h5 id="drawer-label"
                class="inline-flex items-center mb-6 text-sm font-semibold text-gray-500 uppercase dark:text-gray-400">
                New Movie</h5>
            <form id="movieForm" action="/movies/create" method="POST">
                <div class="space-y-4">
                    <div>
                        <label for="Title"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Title</label>
                        <input type="text" name="Title" id="Title"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                            placeholder="Type movie's Title" required="">
                    </div>
                    <div>
                        <label for="Ganre"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Ganre</label>
                        <input type="text" name="Ganre" id="Ganre"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                            placeholder="Type movie's Ganre" required="">
                    </div>
                    <div>
                        <label for="ImageURL"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">ImageURL</label>
                        <input type="text" name="ImageURL" id="ImageURL"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                            placeholder="Type movie's ImageURL" required="">
                    </div>
                    <div>
                        <label for="TrailerURL"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">TrailerURL</label>
                        <input type="text" name="TrailerURL" id="TrailerURL"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                            placeholder="Type movie's TrailerURL" required="">
                    </div>
                    <div>
                        <label for="Age"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Age</label>
                        <input type="number" name="Age" id="Age"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                            placeholder="Type movie's Age" required="">
                    </div>
                    <div>
                        <label for="description"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Description</label>
                        <textarea id="description" rows="4"
                            class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                            placeholder="Enter event description here"></textarea>
                    </div>
                    <div>
                        <label for="Actors"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Actors</label>
                        <input type="text" name="Actors" id="Actors"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                            placeholder="Type movie's Actors" required="">
                    </div>
                    <div>
                        <label for="Raiting"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Raiting</label>
                        <input type="number" name="Raiting" id="Raiting"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                            placeholder="Type movie's Raiting" required="">
                    </div>
                    <div class="bottom-0 left-0 flex justify-center w-full pb-4 space-x-4 md:px-4 md:absolute">
                        <button type="submit"
                            class="bg-green-400 text-white w-full justify-center bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
                            Add product
                        </button>
                        <button type="button" id="drawer-create-movie-close"
                            class="inline-flex w-full justify-center text-gray-500 items-center bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-primary-300 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">
                            <svg aria-hidden="true" class="w-5 h-5 -ml-1 sm:mr-1" fill="none" stroke="currentColor"
                                viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M6 18L18 6M6 6l12 12"></path>
                            </svg>
                            Cancel
                        </button>
                    </div>
            </form>
        </div>

        <!-- Delete Movie Drawer -->
        <div id="drawer-delete-product"
            class="hidden fixed top-0 right-0 z-40 w-full h-screen max-w-xs p-4 overflow-y-auto transition-transform translate-x-full bg-white dark:bg-gray-800"
            tabindex="-1" aria-labelledby="drawer-label" aria-hidden="true">
            <h5 id="drawer-label"
                class="inline-flex items-center text-sm font-semibold text-gray-500 uppercase dark:text-gray-400">Delete
                item</h5>
            <button type="button" data-drawer-dismiss="drawer-delete-product" aria-controls="drawer-delete-product"
                class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 absolute top-2.5 right-2.5 inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white">
                <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                        clip-rule="evenodd"></path>
                </svg>
                <span class="sr-only">Close menu</span>
            </button>
            <svg class="w-10 h-10 mt-8 mb-4 text-red-600" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
            </svg>
            <h3 class="mb-6 text-lg text-gray-500 dark:text-gray-400">Are you sure you want to delete this product?</h3>
            <a href="#"
                class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm inline-flex items-center px-3 py-2.5 text-center mr-2 dark:focus:ring-red-900">
                Yes, I'm sure
            </a>
            <a href="#"
                class="text-gray-900 bg-white hover:bg-gray-100 focus:ring-4 focus:ring-primary-300 border border-gray-200 font-medium inline-flex items-center rounded-lg text-sm px-3 py-2.5 text-center dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-gray-700"
                data-drawer-hide="drawer-delete-product">
                No, cancel
            </a>
        </div>
</main>
<script>
    const createMovieToggleButton = document.getElementById('drawer-create-movie-toggle');
    const createMovieCloseButton = document.getElementById('drawer-create-movie-close');
    const createMovieDrawer = document.getElementById('drawer-create-movie');

    createMovieToggleButton.addEventListener('click', () => {
        createMovieDrawer.classList.toggle('drawer-open');
    });

    createMovieCloseButton.addEventListener('click', () => {
        createMovieDrawer.classList.remove('drawer-open');
    });

    const deleteMovieToggleButton = document.getElementById('drawer-delete-movie-toggle');
    const deleteMovieCloseButton = document.getElementById('drawer-delete-movie-close');
    const deleteMovieDrawer = document.getElementById('drawer-delete-product');

    deleteMovieToggleButton.addEventListener('click', () => {
        deleteMovieDrawer.classList.toggle('drawer-open');
    });

    deleteMovieCloseButton.addEventListener('click', () => {
        deleteMovieDrawer.classList.remove('drawer-open');
    });

    document.addEventListener('DOMContentLoaded', () => {
        const form = document.getElementById('movieForm');
        form.addEventListener('submit', async (e) => {
            e.preventDefault();

            const formData = new FormData(form);
            const formObject = {};
            formData.forEach((value, key) => {
                formObject[key] = value;
            });

            try {
                const response = await fetch('/movies/create', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(formObject),
                });

                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }

                const result = await response.json();
                console.log(result);
            } catch (error) {
                console.error('There was a problem with the fetch operation:', error);
            }
        });
    });
    document.addEventListener("DOMContentLoaded", function () {
        const checkboxAll = document.getElementById("checkbox-all");
        const checkboxes = document.querySelectorAll('input[type="checkbox"][id^="checkbox-"]');

        checkboxAll.addEventListener("change", function () {
            checkboxes.forEach(function (checkbox) {
                checkbox.checked = checkboxAll.checked;
            });
        });

        checkboxes.forEach(function (checkbox) {
            checkbox.addEventListener("change", function () {
                checkboxAll.checked = [...checkboxes].every(function (cb) {
                    return cb.checked;
                });
            });
        });
    });
    // Wait for the DOM to be fully loaded
    document.addEventListener("DOMContentLoaded", function () {
        // Get the search input element
        const searchInput = document.getElementById('movie-search');

        // Add event listener for input changes
        searchInput.addEventListener('input', function () {
            // Get the search query value
            const query = searchInput.value.trim().toLowerCase();

            // Get all movie rows
            const movieRows = document.querySelectorAll('tbody tr');

            // Loop through each movie row and check if it matches the search query
            movieRows.forEach(row => {
                const name = row.querySelector('#search-this').textContent.toLowerCase();
                const shouldShow = name.includes(query);

                // Toggle the display of the row based on the search result
                row.style.display = shouldShow ? 'table-row' : 'none';
            });
        });
    });


</script>
<style>
    .drawer {
        display: none;
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;
    }

    .drawer-open {
        display: block;
        transform: translateX(0);
    }
</style>